# Fichiers générés par l'exécution de Java
*.class
*.jar
/bin/

# Fichiers de la base de données locale
*.db
medipass.db

# Dépendances externes (pilotes JDBC)
/lib/*.jar

# Fichiers spécifiques à l'IDE (ex: Eclipse ou IntelliJ)
.classpath
.project
.settings/